<div class="row wrap-feature-22 py-4">
  <!-- Column -->
  <div class="col-lg-6 col-12" data-aos="flip-up" data-aos-duration="1200">
    <img  [src]="imagePath" class="rounded img-about" alt="wrapkit" />
  </div>
  <!-- Column -->
  <div class="col-lg-6 col-12 no-trans">
    <div class="text-box">
      <small class="text-info font-medium">Tenha sua micro-empresa no nosso radar!</small>
      <h3 class="font-light">
        Veja
        <span class="text-info">como</span> ter sua empresa no nosso radar:
      </h3>
      <p>
        Para ter sua empresa no nosso radar é importante nos acompanhar nas nossas redes sociais,
        via instagram compartilhamos enquetes diárias e interações com o nosso público e recebemos
        indicações de empresas que merecem estar no nosso radar.
      </p>
      <p>
        Iremos receber sua indicação e avaliar os produtos e serviçõs oferecidos, assim terá grande chance de estar no próximo radar.
      </p>

      <button type="button" class="btn btn-info btn-md btn-arrow m-t-20" (click)="openInstagram()">
        <span>Redes Sociais
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
          </svg>
        </span>
      </button>

    </div>
  </div>
  <!-- Column -->
</div>
